## USE database

- UI
- Příkaz

In [ ]:
-- USE { database_name }   
USE czechitas;

## CREATE TABLE

In [ ]:
CREATE TABLE NEW_TEROR (
  id int,
  gname VARCHAR(250),
  nkill int,
  nwound int
);

## DROP & CREATE

- něco jako replace table

In [ ]:
IF OBJECT_ID('NEW_TEROR') IS NOT NULL
    DROP TABLE NEW_TEROR;

CREATE TABLE NEW_TEROR (
  id int NOT NULL IDENTITY(1,1), -- autoincrement (začni 1 a pokračuj/zvyšuj o 1)
  gname VARCHAR(250),
  nkill int,
  nwound int,
  CONSTRAINT id_pk PRIMARY KEY (id)
);

## SELECT INTO FROM

- prvotní nalití dat

In [ ]:
SELECT
    gname
   ,city
   ,nkill
   ,nwound
INTO udalosti_jen_v_cesku -- název nové tabulky   
FROM teror
WHERE country_txt = 'Czech Republic';

SELECT 
    gname
   ,city
   ,sum (nkill) killed
   ,sum (nwound) wounded
   ,C.name countryname 
 INTO #organizace_po_zemich
 FROM      teror2   AS T2 
 LEFT JOIN country  AS C         
 ON C.id = T2.country
 GROUP BY C.name, T2.gname, T2.city;

## ALTER

- modify
- Co dělat, když nejdou zkonvertovat data ve sloupci?

In [ ]:
ALTER TABLE NEW_TEROR ALTER COLUMN gname VARCHAR(350);
ALTER TABLE NEW_TEROR ALTER COLUMN gname VARCHAR(350) NOT NULL;
ALTER TABLE NEW_TEROR ADD continent VARCHAR(300);
ALTER TABLE NEW_TEROR DROP COLUMN Continent;

## INSERT INTO SELECT

(inkrementální updaty)

In [ ]:
INSERT INTO NEW_TEROR (gname, nkill, nwound)
 -- v insertu VŽDYCKY vyjmenovat sloupce, nepoužívat hvězdičku
 SELECT gname, nkill, nwound 
 FROM teror
 WHERE iyear=2015;

## INSERT VALUES

In [ ]:
INSERT INTO NEW_TEROR (gname, nkill, nwound)
VALUES
  ('Žoldáci', 10, 1),
  ('Nosiči smrti', 15, 2),
  ('Nějácí další teroristi', 155, 5);

## UPDATE

In [ ]:
UPDATE NEW_TEROR SET nkill=0 WHERE nkill is NULL;
UPDATE NEW_TEROR SET nkill=0; -- POZOR, bez podmínky nastaví všude 0
UPDATE NEW_TEROR SET nkill = 100, nwound= 100 WHERE gname = 'Žoldáci'; -- lze updatovat i více sloupců najednou

## TRANSAKCE
(better safe than sorry)

In [ ]:
BEGIN TRAN 
-- hromada SQL dotazů
SELECT
    gname
   ,city
   ,sum (nkill) killed
   ,sum (nwound) wounded
INTO xx_prycsemnou
FROM TEROR
WHERE iyear=2016
GROUP BY gname, city;
   
UPDATE xx_prycsemnou SET killed = 0;
-- COMMIT TRAN -- slibuji vše, co jsem slíbil
-- ROLLBACK TRAN -- odvolávám vše, co jsem odvolal

## DELETE

In [ ]:
DELETE FROM NEW_TEROR WHERE nkill is NULL;
DELETE FROM NEW_TEROR; -- vymaže pouze data

## DROP

In [ ]:
DROP TABLE NEW_TEROR;
DROP TABLE #NEW_TEROR;
DROP DATABASE <jmeno>;

## IMPORT

!!!! je treba udelat novou kapitolu, jiny postup nez ve Snowflake