Vyber vše z tabulky teror

In [ ]:
SELECT * FROM teror;

Zobraz náhodných deset řádek z tabulky teror

In [ ]:
SELECT TOP 10 * FROM teror;

Vypiš jen sloupce eventid, iyear, country_txt, region_txt

In [ ]:
SELECT eventid,iyear,country_txt,region_txt FROM teror;

Vypiš všechny roky vyskytující se v tabulce teror tak, aby byl každý rok ve výsledné tabulce jen jednou

In [ ]:
SELECT DISTINCT iyear FROM teror;

Vyber všechny teroristické útoky v roce 2016

In [ ]:
SELECT * FROM teror WHERE iyear=2016;

Vypiš všechny útoky za rok 2015 a vyber pouze sloupce eventid, iyear, country_txt, region_txt a přejmenuj je na udalost, rok, zeme, region

In [ ]:
SELECT  eventid      AS udalost
        ,iyear       AS rok
        ,country_txt AS zeme
        ,region_txt  AS region 
FROM teror 
WHERE iyear=2015;

Vyber všechny události v roce 2014 a vyber pouze sloupce iyear, imonth a iday. Spoj je do jednoho sloupce oddělené pomlčkou a pojmenuj ho datum

In [ ]:
SELECT CONCAT(iyear,'-',imonth,'-',iday) AS datum FROM teror WHERE iyear=2014;

Seřaď datum z předchozího selektu sestupně (desc) a vypiš jen jedinečné záznamy

In [ ]:
SELECT DISTINCT CONCAT(iyear,'-',imonth,'-',iday) AS datum FROM teror WHERE iyear=2014 ORDER BY datum DESC;

Vypiš počet teroristických útoků, které se staly po roce 2015

In [ ]:
SELECT COUNT(*) FROM teror WHERE iyear>2015;