Vypiš tři největší útoky pro organizace s dohromady víc než 500 obětmi. Vypiš sloupečky city, gname a nkill a rank. Výsledek seřaď podle gname a rank.

In [ ]:
SELECT city, gname, nkill, rank
FROM (
        SELECT  *, 
                RANK() OVER (PARTITION BY gname ORDER BY nkill DESC) AS rank
        FROM teror
        WHERE nkill IS NOT NULL AND gname IN (
                                                SELECT gname AS sk 
                                                FROM teror 
                                                GROUP BY gname 
                                                HAVING SUM(nkill) > 500 
                                              ) 
    ) AS serazene_organizace_s_vice_jak_500  -- u T-SQL je potřeba dát vnořenému selektu (tabulce) alias
WHERE rank <= 3
ORDER BY gname, rank;

Vypiš 5 nejaktivnějších organizací podle regionu. Výsledek seraď podle regionu a ranku.

In [ ]:
SELECT *
FROM (
        SELECT  gname AS skupina,
                region_txt AS region,
                COUNT(*) AS pocet_utoku,
                RANK() OVER (PARTITION BY region_txt ORDER BY COUNT(*) DESC) AS rank
        FROM teror
        WHERE gname != 'Unknown'
        GROUP  BY gname, region_txt
) AS aktivita_organizaci_dle_regionu
WHERE rank <= 5
ORDER BY region, rank;