Vypiš eventdate, gname, nkill, nwound z tabulky teror2 (!) a přes sloupeček country připoj zemi z tabulky country

In [ ]:
SELECT t2.eventdate, t2.gname, t2.nkill, t2.nwound, c.name AS country_name
FROM czechitas.teror2 AS t2
LEFT JOIN czechitas.country AS c 
ON t2.country = c.id;

Vypiš eventdate, gname, nkill, nwound z tabulky teror2 (!) a
- přes sloupec country připoj zemi z tabulky country
- přes sloupec weaptype1 připoj název zbraně z tabulky weaptype
- přes sloupec weaptype2 připoj název zbraně z tabulky weaptype

In [ ]:
SELECT t2.eventdate, t2.gname, t2.nkill, t2.nwound, c.name AS country_name, wt1.name AS weapon_type1, wt2.name AS weapon_type2
FROM czechitas.teror2 AS t2
LEFT JOIN czechitas.country   AS c ON t2.country = c.id
LEFT JOIN czechitas.weaptype  AS wt1 ON t2.weaptype1 = wt1.id
LEFT JOIN czechitas.weaptype  AS wt2 ON t2.weaptype2 = wt2.id;

Vypiš eventdate, gname, nkill, nwound z tabulky teror2 (!) a
- přes sloupec country připoj zemi z tabulky country
- přes sloupec weaptype1 připoj název zbraně z tabulky weaptype
- přes sloupec weaptype2 připoj název zbraně z tabulky weaptype
- vypiš jen útoky jejichž sekundarní zbraň byla zápalna ('Incendiary')

In [ ]:
SELECT t2.eventdate, t2.gname, t2.nkill, t2.nwound, c.name AS country_name, wt1.name AS weapon_type1, wt2.name AS weapon_type2
FROM czechitas.teror2 AS t2
LEFT JOIN czechitas.country AS c ON t2.country = c.id
LEFT JOIN czechitas.weaptype AS wt1 ON t2.weaptype1 = wt1.id
LEFT JOIN czechitas.weaptype AS wt2 ON t2.weaptype2 = wt2.id
WHERE wt2.name = 'Incendiary';

Z tabulky teror2 vypiš počet útoků, počty mrtvých a raněných v roce 2016 -- podle použitých zbraní (WEAPTYPE1)

In [ ]:
SELECT wt1.name AS weapon_type1, count(*) AS attacks, sum(t2.nkill) AS nkill_sum, sum(t2.nwound) AS nwound_sum 
FROM czechitas.teror2 as t2
LEFT JOIN czechitas.weaptype as wt1 ON t2.weaptype1 = wt1.id
WHERE iyear = 2016
GROUP BY wt1.name;

Vypište počet unesených lidí (kdy byl typ útoku "únos rukojmích") a počet událostí podle regionu a roku. Výsledek seřaďte podle počtu unesených lidí sestupně. Sloupce pojmenujte region, rok, pocet_unesenych, pocet_udalosti

In [ ]:
SELECT reg.name AS region, t2.iyear AS rok, SUM(t2.nhostkid) AS pocet_unesenych, COUNT(*) AS pocet_udalosti
FROM czechitas.teror2 AS t2
JOIN czechitas.attacktype AS at1 ON t2.attacktype1 = at1.id
JOIN czechitas.region AS reg ON t2.region = reg.id
WHERE at1.name LIKE '%Hostage Taking%' AND t2.nhostkid > 0
GROUP BY reg.name, t2.iyear
ORDER BY SUM(t2.nhostkid) DESC;

Zjisti počty útoků z tabulky teror2 po letech a kontinentech. Tj. napoj sloupec region z tabulky teror2 na tabulku region a vytvoř sloupec kontinent z názvu regionu a podle něj a podle roku tabulku "zgrupuj" (zagreguj).

In [ ]:
SELECT CASE 
         WHEN reg.name LIKE '%Europe%'  THEN 'Europe'
         WHEN reg.name LIKE '%Africa%'  THEN 'Africa'
         WHEN reg.name LIKE '%Asia%'    THEN 'Asia'
         WHEN reg.name LIKE '%America%' THEN 'America'
         WHEN reg.name LIKE 'Austral%'  THEN 'Australia'
         ELSE reg.name
       END AS kontinent, 
       t2.iyear           AS rok,
       count(*)           AS utoku_celkem
 FROM czechitas.teror2 AS t2
 LEFT JOIN czechitas.region AS reg
 ON t2.region = reg.id
 GROUP BY CASE 
            WHEN reg.name LIKE '%Europe%'  THEN 'Europe'
            WHEN reg.name LIKE '%Africa%'  THEN 'Africa'
            WHEN reg.name LIKE '%Asia%'    THEN 'Asia'
            WHEN reg.name LIKE '%America%' THEN 'America'
            WHEN reg.name LIKE 'Austral%'  THEN 'Australia'
            ELSE reg.name
          END,
          t2.iyear
;