## První select

- klíčová slova
- velikost písmen
- kuk

In [ ]:
SELECT 1;   -- vybere 1
SELECT '1'; -- vybere '1'

## Kalkulačka?
- Sčítání, odčítání, násobení, všechno funguje, jak má

In [ ]:
SELECT 25 * 30; -- 750
SELECT 25 * 0;  -- 0
SELECT 25 / 2.5; -- 10.0
SELECT 25/0; -- division by zero

## Všechny sloupce a řádky

- Prostě vybereme všechno

In [ ]:
SELECT * FROM teror; -- vybere vsechny sloupce a radky z tabulky teror

## Omezení výběru sloupce/ů

In [ ]:
SELECT nkillter FROM teror; -- vybere pouze sloupec nkillter z tabulky teror

## TOP

In [ ]:
SELECT TOP 10 * FROM teror; -- vybere 10 nahodnych radku z tabulky teror

## DISTINCT

In [ ]:
SELECT DISTINCT(country_txt) FROM teror; -- vybere unikatni hodnoty ve sloupi country_txt z tabulky teror

## COUNT

In [ ]:
SELECT COUNT(*) FROM teror; -- spocita pocet radku v tabulce teror

## ORDER BY

- DESC
- ASC

In [ ]:
SELECT nkillter FROM teror ORDER BY nkillter; -- vypise radky serazene podle sloupce nkillter

## Přejmenování sloupce

- uvozovky ' vs "

In [ ]:
SELECT nkillter AS zabito_teroristu FROM teror; -- prejmenuje sloupecek nkillter na zabito_teroristu
SELECT nkillter AS "zabito teroristu" FROM teror; -- prejmenuje sloupecek nkillter na zabito teroristu

## Výběr vlastní hodnoty do sloupce

- nový sloupeček
- sloupeček existující v tabulce

In [ ]:
SELECT 'Indonésie' AS region_txt FROM teror;

## Spojení sloupců

- když je hodnota v některém ze sloupců NULL, výsledek spojení pomocí + bude také NULL

In [ ]:
SELECT city + country_txt FROM teror; -- kdyz datovy typ sloupce neni string, tak se muze chovat podivne
SELECT CONCAT(city,country_txt) FROM teror;

## Násobení sloupců

In [ ]:
SELECT nkill * 3 + nwound FROM teror;

## Filtrování řádků

In [ ]:
SELECT nkillter FROM teror WHERE nkillter > 100; -- vybere vsechny radky, kde je nkillter vetsi jak 100