## ZÁKLADNÍ JOIN

(podle numeric)

In [ ]:
SELECT country.name 
FROM czechitas.teror2
LEFT JOIN czechitas.country ON teror2.country = country.id;

SELECT c.name, t2.nkill, t2.nkillter, t2.gname, t2.latitude, t2.longitude
FROM czechitas.teror2 AS t2
LEFT JOIN czechitas.country AS c 
ON t2.country = c.id; -- pro líné

SELECT c.name, t2.nkill, t2.nkillter, t2.gname, t2.latitude, t2.longitude
FROM czechitas.teror2 t2
LEFT JOIN czechitas.country c 
ON t2.country = c.id; -- pro línější

SELECT b.name, a.nkill, a.nkillter, a.gname, a.latitude, a.longitude
FROM czechitas.teror2 a
LEFT JOIN czechitas.country b ON a.country = b.id; -- pro bordeláře

## ZÁKLADNÍ JOIN

(pozor na sloupce)

- takto se to nedělá !!!

In [ ]:
SELECT c.name
FROM czechitas.teror2 as t2
LEFT JOIN czechitas.country as c 
ON t2.attacktype1 = c.id;

## ZÁKLADNÍ JOIN

(jde to i přes stringy)

In [ ]:
SELECT c.name AS country_name
FROM teror AS t
LEFT JOIN czechitas.country AS c
ON t.country_txt = c.name;

## ZÁKLADNÍ JOIN

(více tabulek)

In [ ]:
SELECT c.name, atyp.name
FROM czechitas.teror2 as t2
LEFT JOIN czechitas.country AS c
ON t2.country = c.id
LEFT JOIN czechitas.attacktype AS atyp
ON t2.attacktype1 = atyp.id;

## JOIN (více sloupců)

- můžeme dostat i více řádků než je v původní tabulce

In [ ]:
SELECT dd.name, t2.nkill
FROM czechitas.teror2 AS t2
JOIN country_dirtydata AS dd
ON t2.country = dd.id;

## JOIN (LEFT a RIGHT)

In [ ]:
SELECT t2.gname, 
       c.name       as country, 
       atyp1.name   as attack_type1, 
       atyp2.name   as attack_type2, 
       atyp3.name   as attack_type3
 FROM czechitas.teror2        as t2
 LEFT JOIN czechitas.country  as c 
 ON t2.country = c.id
 LEFT JOIN czechitas.attacktype as atyp1 
 ON t2.attacktype1 = atyp1.id
 LEFT JOIN czechitas.attacktype as atyp2
 ON t2.attacktype2 = atyp2.id
 LEFT JOIN czechitas.attacktype as atyp3 
 ON t2.attacktype3 = atyp3.id;

## JOIN (INNER vs LEFT)

Default pro JOIN je INNER JOIN (není třeba ve skriptu specifikovat) =\> vrátí pouze záznamy, pro které najde v obou tabulkách shodu

In [ ]:
SELECT c.name       AS country, 
       atyp1.name   AS attack_type1, 
       atyp2.name   AS attack_type2, 
       atyp3.name   AS attack_type3
FROM czechitas.teror2         AS t2
LEFT JOIN czechitas.country   AS c 
ON t2.country = c.id
JOIN czechitas.attacktype AS atyp1 
ON t2.attacktype1 = atyp1.id
JOIN czechitas.attacktype AS atyp2
ON t2.attacktype2 = atyp2.id
JOIN czechitas.attacktype AS atyp3 
ON t2.attacktype3 = atyp3.id;

LEFT JOIN vrátí všechny záznamy z tabulky _teror2_ a snaží se k nim dopárovat _attacktype_

In [ ]:
SELECT c.name AS country, 
       atyp1.name AS attack_type1, 
       atyp2.name AS attack_type2, 
       atyp3.name AS attack_type3
FROM czechitas.teror2 AS t2
LEFT JOIN czechitas.country AS c 
ON t2.country = c.id
LEFT JOIN czechitas.attacktype AS atyp1 
ON t2.attacktype1 = atyp1.id
LEFT JOIN czechitas.attacktype AS atyp2
ON t2.attacktype2 = atyp2.id
LEFT JOIN czechitas.attacktype AS atyp3 
ON t2.attacktype3 = atyp3.id;

## FULL OUTER JOIN

In [ ]:
-- vrátí záznamy, pro které najde shodu plus zbylé záznamy z obou tabulek, používá se zřídka

## JOIN a WHERE

In [ ]:
SELECT gname, city, nwound FROM teror2 AS t2 
JOIN country AS c ON t2.country = c.id 
WHERE c.name = 'Slovak Republic' AND YEAR(t2.eventdate) = 2016;