## SUM()

- součet

In [ ]:
SELECT SUM(nkill) AS killed FROM teror;

## COUNT()

- počet

In [ ]:
SELECT COUNT(*)     AS no_of_records FROM teror; --- počet všech řádků (záznamů)
SELECT COUNT(nkill) AS no_of_records FROM teror; ---- vyloučí řádky s NULL hodnoty
SELECT COUNT(*)     AS no_of_records FROM teror WHERE nkill IS NULL; --- pouze řádky, kde jsou NULL hodnoty
SELECT * FROM teror WHERE nkill IS NULL;

## AVG()

- průměr

In [ ]:
SELECT AVG(nkill) AS average_no_of_deaths FROM teror; -- do průměru se nepočítají NULL hodnoty

## MAX()
- maximální hodnota

In [ ]:
-- 2 různé postupy vedoucí ke stejnému výsledku
SELECT MAX(nkill)   AS max_no_of_deaths FROM teror;
SELECT TOP 1 nkill  AS max_no_of_deaths FROM teror WHERE nkill IS NOT NULL ORDER BY nkill DESC;

## MIN()

- minimální hodnota

In [ ]:
-- 2 různé postupy vedoucí ke stejnému výsledku
SELECT MIN(nkill)   AS min_no_of_deaths FROM teror;
SELECT TOP 1 nkill  AS min_no_of_deaths FROM teror WHERE nkill IS NOT NULL ORDER BY nkill;

## GROUP BY

- vytváření skupin

In [ ]:
SELECT gname, SUM(nkill) AS no_of_deaths FROM teror GROUP BY gname ORDER BY no_of_deaths DESC; --- počet mrtvých podle teroristické organizace

## HAVING

- možnost zapsat podmínky ke skupinám (nalezení duplikátních záznamů)

In [ ]:
SELECT  gname, SUM(nkill) AS total_no_of_deaths 
FROM    teror 
GROUP BY gname 
HAVING  SUM(nkill) > 0 
ORDER BY total_no_of_deaths DESC; --- počet mrtvých podle teroristické organizace kde je počet obětí větší než nula

SELECT  gname, SUM(nkill) AS total_no_of_deaths, SUM(nkillter) AS no_of_dead_terrorists
FROM    teror 
GROUP BY gname 
HAVING  SUM(nkill) > 0 AND SUM(nkillter) >= 1 
ORDER BY SUM(nkill) DESC; --- počet mrtvých podle teroristické organizace kde je počet obětí a počet mrtvých teroristů větší nez nula