## Základní operátory

- výraz \>   výraz
- výraz \<   výraz
- výraz \<= výraz
- výraz \>= výraz
- výraz !=  nebo \<\> výraz
- výraz  = výraz

In [ ]:
SELECT city FROM teror WHERE city = 'Prague';
SELECT city FROM teror WHERE nhostkid = 1; -- vybere mesta, kde byl pri utoku unesen prave jeden clovek
SELECT * FROM teror WHERE nkillter > 1; -- vybere vsechny utoky, kde zemrel vic jak jeden terorista

## WHERE (string function)

- SUBSTRING
- LEFT / RIGHT
- UPPER / LOWER
- LENGHT
- REPLACE

In [ ]:
SELECT city FROM teror WHERE LEN(city) - LEN(REPLACE(city, ' ','')) >= 2; -- vybere vsechny mesta, ktera maji vice jak 2 slova
SELECT city, SUBSTRING(city,1,1) AS prvni_pismeno FROM teror; -- vybere mesto a jeho prvni pismeno
SELECT city, LEFT(city,1) AS prvni_pismeno FROM teror; -- vybere mesto a jeho prvni pismeno
SELECT city, UPPER(RIGHT(city,3)) AS posledni_tri_pismena FROM teror; -- vybere mesto a jeho posledni tri pismena v UPPERCASE

## WHERE (math function)

- FLOOR
- CEILING
- ROUND

In [ ]:
SELECT  nkill, nkillter, nkill/nkillter AS prumer 
FROM    teror 
WHERE   nkill > 0 AND nkillter > 0 AND nkill/nkillter > 1 
ORDER BY prumer DESC;

SELECT CEILING(1.5), ROUND(1.5,0), FLOOR(1.5), CEILING(1.1), ROUND(1.1,0);
SELECT FLOOR(1574.14);

## WHERE (date function)

- DATEFROMPARTS
- DATEADD
- DATEDIFF

In [ ]:
SELECT  CAST(CONCAT(imonth, '/', iday, '/', iyear) AS date) AS datum
        ,DATEADD(year, 2, CAST(CONCAT(imonth, '/', iday, '/', iyear) AS date))
        , imonth, iday, iyear 
FROM teror
WHERE DATEADD(year, 2, CAST(CONCAT(imonth, '/', iday, '/', iyear) AS date)) = DATEFROMPARTS(2016, 1, 1);

SELECT  DATEFROMPARTS(iyear, imonth, iday) AS datum 
FROM    teror 
WHERE   DATEDIFF("YEAR",DATEFROMPARTS(iyear, imonth, iday), DATEFROMPARTS(2015,1,1)) = -2;

SELECT DATEFROMPARTS(iyear, imonth, iday) datum, iyear, imonth, iday, DATEADD("DAY", 1, DATEFROMPARTS(iyear, imonth, iday)) AS zitra FROM teror;

## AND, OR a závorky

In [ ]:
SELECT * FROM teror WHERE country_txt='Germany' AND (city='Berlin' OR city='München'); -- vybere vsechny utoky v Nemecku, ktere se staly v Berline nebo Mnichove

## LIKE / NOT LIKE

- <span style="background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.6); font-family: Roboto, sans-serif; letter-spacing: 0.1px;">% = 0 až N znaků (cokoliv začínající na a%)</span>
- <span style="background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.6); font-family: Roboto, sans-serif; letter-spacing: 0.1px;"><em>_&nbsp; = jeden znak&nbsp; &nbsp; &nbsp;(a</em>)</span>
- <span style="background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.6); font-family: Roboto, sans-serif; letter-spacing: 0.1px;">[]&nbsp; = výběr znaků&nbsp; &nbsp;(abc)</span>
- <span style="background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.6); font-family: Roboto, sans-serif; letter-spacing: 0.1px;">[^] = negace&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (bez abc)</span>
- <span style="background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.6); font-family: Roboto, sans-serif; letter-spacing: 0.1px;">[-] = rozsah znaků (a-f)</span>

In [ ]:
SELECT DISTINCT(attacktype1_txt) FROM teror WHERE attacktype1_txt LIKE '%bomb%'; -- vybere unikatni typy utoku, ktere obsahuji slovo bomb(kdekoliv)
SELECT DISTINCT(region_txt) FROM teror WHERE region_txt LIKE '%cz%'; -- vybere unikatni nazvy regionu, ktere obsahuji cz (kdekoliv)
SELECT DISTINCT(gname) FROM teror WHERE gname LIKE 'a%'; -- vybere unikatni nazvy organizaci, ktere zacinaji na a
SELECT DISTINCT(gname) FROM teror WHERE gname LIKE '_a%'; -- vybere unikatni nazvy organizaci, ktere maji v nazvu druhe pismeno a
SELECT city FROM teror WHERE city LIKE '% % %'; -- vybere vsechny mesta, ktera maji vice jak 2 slova

## <span style="color:rgba(0, 0, 0, 0.6);font-family:Roboto, sans-serif;font-size:24px;background-color:rgb(255, 255, 255);">IN, NOT IN, IS NOT</span>

In [ ]:
SELECT city FROM teror WHERE region_txt NOT IN ('South America','South Asia');
SELECT GNAME FROM teror WHERE region_txt IN ('Eastern Europe','Western Europe');
SELECT weaptype1_txt, nkillter FROM teror WHERE nkillter IS NOT NULL ORDER BY nkillter DESC;

## BETWEEN

In [ ]:
SELECT DISTINCT(iyear) FROM teror WHERE iyear BETWEEN 2014 AND 2016; -- vybere unikatni roky mezi roky 2014 a 2016 (vcetne krajnich hodnot)
SELECT city, SUBSTRING(city,1,1) AS prvni_pismeno FROM teror WHERE SUBSTRING(city,1,1) BETWEEN 'A' AND 'C'; -- vybere mesta, ktera zacinaji na A B nebo C

## CASE & IF CONDITION

- CASE STATEMENT 
- IIF / COALESCE

In [ ]:
SELECT
    CASE
        WHEN nkill IS NULL  THEN 1
        WHEN nkill = 0      THEN 1
        ELSE nkill
    END AS upraveny_nkill
FROM teror; -- upravi sloupec nkill aby tam nebyl NULL a 0
SELECT
    CASE
        WHEN lower(region_txt) LIKE '%america%'    THEN 'Amerika'
        WHEN lower(region_txt) LIKE '%africa%'     THEN 'Afrika'
        WHEN lower(region_txt) LIKE '%asia%'       THEN 'Asie'
        ELSE region_txt
    END AS continent
FROM teror; -- vytvorime sloupec kontinent podle regionu

SELECT IIF(nkillter IS NULL, 0, nkillter) FROM teror;
SELECT COALESCE(nkillter, 0) FROM teror;