In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

user = 'sfadmin'
connection_string = "snowflake://{user}:{password}@aa85077.eu-central-1".format(user='usercd ', password="snflk_pwd")

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

### Vnořený select

In [ ]:
%%sql
-- Vybere 1 jako subselect
SELECT vnoreny.a 
FROM (SELECT 1 AS a) AS vnoreny;

-- Vybere jen některé sloupce jako subselect
SELECT * 
FROM (SELECT gname, eventdate FROM teror2 WHERE country = 54) AS subselect;

-- Vybere unikátní dvojice skupiny a země jako subselect 
SELECT vnoreny.* 
FROM (SELECT DISTINCT t.gname AS skupina, c.name AS zeme FROM teror2 AS t INNER JOIN country AS c ON t.country=c.id)AS vnoreny;

-- Zobrazení všech teroristických událostí, které spáchala teroristická organizace s nejvetším počtem obětí
SELECT gname, iyear, nkill 
FROM teror
WHERE gname = (SELECT gname FROM teror ORDER BY nkill DESC LIMIT 1);

-- Počet mrtvých v letech 2017 a 2016 které má na svědomí Islámský Stát tak, aby ve výsledku byl název organizace a ve sloupcích počet mrtvých dle let
SELECT t1.*, 
        t2.pocetmrtv2016 
FROM
(
SELECT gname, SUM(nkill) as pocetmrtv2017
FROM teror
WHERE iyear=2017 AND gname ilike '%islamic state%' 
GROUP BY 1
ORDER BY pocetmrtv2017 DESC
) AS t1
LEFT JOIN
(
SELECT gname, COUNT(nkill) AS pocetmrtv2016
FROM teror
WHERE iyear=2016
GROUP BY 1
ORDER BY pocetmrtv2016 DESC
) AS t2
ON t1.gname=t2.gname;

-- Výběr teoristických úroků v roce 2016, které má na svědomí Islámský Stát a doplnění informace max a min počtu oětí v roce 2016 ke každému útoku
SELECT t1.eventid, t1.gname, t1.iyear, t1.nkill, 
        t2.maxmrtvych2016, t2.minmrtvych2016
FROM teror AS t1
LEFT JOIN
(
SELECT gname, max(nkill) AS maxmrtvych2016, min(nkill) AS minmrtvych2016
FROM teror
WHERE iyear=2016 AND gname ilike '%islamic state%' 
GROUP BY 1
) AS t2
ON t1.gname=t2.gname
WHERE t1.gname ILIKE '%islamic state%' and t1.iyear=2016;

### Co je to CTE? 
(Common Table Expressions)

In [ ]:
%%sql
WITH ctepoddotaz as
 (SELECT 1 jednicka, 'milion' dvojka)
 SELECT c.jednicka, c.dvojka FROM ctepoddotaz c;

 WITH terorcountry as
 (SELECT DISTINCT t.gname skupina, c.name zeme FROM teror2 t INNER JOIN country c ON t.country=c.id)
 SELECT * FROM terorcountry;

WITH 
 rukojmi_po_letech_fake AS
 (SELECT iyear, sum(nhostkid) as rukojmi_fake FROM teror WHERE weaptype1_txt='Fake Weapons' and nhostkid <> -99 GROUP BY iyear), 
 rukojmi_po_letech_bez_fake AS
 (SELECT iyear, sum(nhostkid) as rukojmi_bez_fake  FROM teror WHERE weaptype1_txt<>'Fake Weapons' and nhostkid <> -99 GROUP BY iyear)
--spojeni pres roky
SELECT  f.iyear, f.rukojmi_fake, bf.rukojmi_bez_fake
FROM rukojmi_po_letech_fake f 
LEFT JOIN rukojmi_po_letech_bez_fake bf
ON f.iyear=bf.iyear;

WITH cte AS (SELECT gname, eventdate FROM teror2 WHERE country = 54)
SELECT * FROM cte;