In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

connection_string = "snowflake://{user}:{snflk_pwd}@gn56074.west-europe.azure".format(user='user', snflk_pwd='snflk_pwd')

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

### SUM() - součet

In [ ]:
%%sql
SELECT SUM(nkill) AS pocet_mrtvych FROM teror;

### COUNT() - počet

In [ ]:
%%sql
SELECT COUNT(*) AS pocet_zaznamu FROM teror; -- počet všech řádků  56 354
SELECT COUNT(nkill) AS pocet_zaznamu FROM teror; -- vyloučí null hodnoty 53 134
SELECT * FROM teror WHERE nkill IS NULL; -- 3 220 null hodnot

### AVG() - průměr

In [ ]:
%%sql
SELECT AVG(nkill) AS prumerny_pocet_mrtvych FROM teror; -- do průměru se nezapočítávají NULL hodnoty

### MAX() - maximální hodnota

In [ ]:
%%sql
-- 2 různé postupy vedoucí ke stejnému výsledku
SELECT MAX(nkill) AS max_pocet_mrtvych FROM teror;
SELECT nkill AS max_pocet_mrtvych FROM teror WHERE nkill IS NOT NULL ORDER BY nkill DESC LIMIT 1;

### MIN() - minimální hodnota

In [ ]:
%%sql
-- 2 různé postupy vedoucí ke stejnému výsledku
SELECT MIN(nkill) AS min_pocet_mrtvych FROM teror;
SELECT nkill AS min_pocet_mrtvych FROM teror WHERE nkill IS NOT NULL ORDER BY nkill LIMIT 1;

### GROUP BY - vytváření skupin

In [ ]:
%%sql
SELECT gname, SUM(nkill) AS pocet_mrtvych FROM teror GROUP BY gname ORDER BY pocet_mrtvych DESC; --- počet mrtvých podle teroristické organizace

### HAVING

- možnost zapsat podmínky ke skupinám (nalezení duplicitních záznamů)

In [ ]:
%%sql
SELECT  gname, 
        SUM(nkill) AS pocet_mrtvych 
FROM teror 
GROUP BY gname 
HAVING SUM(nkill) > 0 
ORDER BY pocet_mrtvych DESC; --- počet mrtvých podle teroristické organizace kde je počet obětí větší než nez nula

SELECT  gname, 
        SUM(nkill), 
        SUM(nkillter) 
FROM teror 
GROUP BY gname 
HAVING SUM(nkill) > 0 AND SUM(nkillter) >= 1 
ORDER BY SUM(nkill) DESC; --- počet mrtvých podle teroristické organizace kde je počet obětí a počet mrtvých teroristů větší než nula