In [ ]:
#ignore
import numpy as n
import sqlalchemy as sql

%reload_ext sql

In [ ]:
#ignore
import os
os.environ["snflk_pwd"] = ""
print (len(os.getenv("snflk_pwd")))

In [ ]:
#ignore
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

snflk_pwd=os.getenv("snflk_pwd")
connection_string = "snowflake://{user}:{snflk_pwd}@gn56074.west-europe.azure".format(user='user', snflk_pwd='snflk_pwd')

%sql $connection_string

In [ ]:
#ignore
%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

### První select
- klíčová slova
- velikost písmen

In [ ]:
%%sql
SELECT 1;   -- vybere 1
SELECT '1'; -- vybere '1'

### Kalkulačka?
- Sčítání, odčítání, násobení, všechno funguje, jak má

In [ ]:
%%sql
SELECT 25 * 30; -- 750
SELECT 25 * 0;  -- 0
SELECT 25 / 2.5; -- 10.0
SELECT 25/0; -- division by zero

### Všechny sloupečky a řádky
- Prostě vybereme všechno

In [ ]:
%%sql
SELECT * FROM teror; -- vybere všechny sloupce a řádky z tabulky teror

### Omezení výběru sloupce/ů

In [ ]:
%%sql
SELECT nkillter FROM teror; -- vybere pouze sloupec nkillter z tabulky teror

### LIMIT

In [ ]:
%%sql
SELECT * FROM teror LIMIT 10; -- vybere 10 náhodnych řádků z tabulky teror

### DISTINCT

In [ ]:
%%sql
SELECT DISTICT(country_txt) FROM teror; -- vybere unikátní hodnoty ve sloupci country_txt z tabulky teror

### COUNT

In [ ]:
%%sql
SELECT COUNT(*) FROM teror; -- spočítá počet řádků v tabulce teror

### ORDER BY
- DESC
- ASC

In [ ]:
%%sql
SELECT nkillter FROM teror ORDER BY nkillter; -- vypíše řádky seřazené podle sloupce nkillter

### Přejmenování sloupečku
- uvozovky 'vs"

In [ ]:
%%sql
SELECT nkillter AS zabito_teroristu FROM teror; -- přejmenuje sloupec  nkillter na zabito_teroristu
 SELECT nkillter AS "zabito teroristu" FROM teror; -- přejmenuje sloupec nkillter na zabito teroristu

### Vybrání vlastní hodnoty do sloupečku
- nový sloupeček
- sloupeček existující v tabulce

In [ ]:
%%sql
SELECT 'Indonésie' AS region_txt FROM teror;

### Spojení sloupečků

In [ ]:
%%sql
SELECT city || country_txt FROM teror;
SELECT CONCAT(city,country_txt) FROM teror;

### Násobení sloupečků

In [ ]:
%%sql
SELECT nkill * 3 + nwound FROM teror;

 ### Filtrování řádek

In [ ]:
%%sql
SELECT nkillter FROM teror WHERE nkillter > 100; -- vybere všechny řádky, kde je nkillter větší jak 100