In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

connection_string = "snowflake://{user}:{snflk_pwd}@gn56074.west-europe.azure".format(user='user', snflk_pwd='snflk_pwd')

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

### Základní operátory
- větší >
- menší <
- menší nebo rovno <=
- větší nebo rovno >=
- !=<> nebo !=
- rovno =

In [ ]:
%%sql
SELECT city FROM teror WHERE city = 'Prague';
SELECT city FROM teror WHERE nhostkid = 1; -- vybere města, kde byl při útoku unesen právě jeden člověk
SELECT * FROM teror WHERE nkillter > 1; -- vybere všechny útoky, kde zemřel víc jak jeden terorista

### WHERE (string function)
- SPLIT
- SUBSTRING
- LEFT
- RIGHT
- UPPER
- LENGHT

In [ ]:
%%sql
SELECT SPLIT('127.0.0.1', '.');
SELECT SPLIT(city, ' ') FROM teror; -- vybere všechny města a rozdělí je podle počtu slov
SELECT city FROM teror WHERE ARRAY_SIZE(SPLIT(city, ' ')) > 2; -- vybere všechny města, která mají více jak 2 slova
SELECT city FROM teror WHERE length(city) - length(replace(city, ' ','')) >= 2; -- vybere všechny města, která mají více jak 2 slova
SELECT city, SUBSTRING(city,0,1) AS prvni_pismeno FROM teror; -- vybere město a jeho první písmeno
SELECT city, LEFT(city,1) AS prvni_pismeno FROM teror; -- vybere město a jeho první písmeno
SELECT city, UPPER(RIGHT(city,3)) AS posledni_tri_pismena FROM teror; -- vybere město a jeho poslední tři písmena v UPPERCASE

### WHERE (math function)
- HAVERSINE
- ROUND
- FLOOR
- CEIL

In [ ]:
%%sql
SELECT gname, city, iyear, nkill, HAVERSINE(50.052134, 14.442047, latitude, longitude ) AS vzdalenost_od_nas FROM teror WHERE vzdalenost_od_nas < 100 ORDER BY nkill DESC;
SELECT nkill, nkillter, nkill/nkillter AS prumer FROM teror WHERE  nkill > 0 AND nkillter > 0 AND prumer > 1 ORDER BY prumer DESC;
SELECT CEIL(1.5), ROUND(1.5), TRUNC(1.5), FLOOR(1.5), CEIL(1.1), ROUND(1.1), TRUNC(1.1);
SELECT FLOOR(1574.14), FLOOR(1574.14,1), FLOOR(1574.14,2), FLOOR(1574.14,-1), FLOOR(1574.14,-2);

### WHERE (date function)
- TO_DATE
- DATE_FROM_PARTS
- DATEADD
- EXTRACT

In [ ]:
%%sql
SELECT TO_DATE(imonth || '/' || iday || '/' || iyear) AS datum, imonth, iday, iyear FROM teror WHERE DATEADD(year, 2, datum) = DATE_FROM_PARTS(2016, 1, 1);
SELECT DATE_FROM_PARTS(iyear, imonth, iday) AS datum FROM teror WHERE DATEDIFF('year',datum, DATE_FROM_PARTS(2015,1,1)) = -2;
SELECT DATE_FROM_PARTS(iyear, imonth, iday) datum, iyear, imonth, iday, DATEADD(day, 1, datum) AS zitra FROM teror;
SELECT EXTRACT(YEAR FROM eventdate) AS rok FROM teror2;

### AND, OR a závorky

In [ ]:
%%sql
SELECT * FROM teror WHERE country_txt='Germany' AND (city='Berlin' OR city='München'); -- vybere všechny útoky v Německu, které se staly v Berlíně nebo Mnichově

### LIKE, ILIKE
- % = 0 až N znaků (cokoliv začínající na a%)
- _  = jeden znak     (a)
- []  = výběr znaků   (abc)
- [^abc] = negace          (bez abc)
- [a-f] = rozsah znaků (a-f)

In [ ]:
%%sql
SELECT DISTINCT(attacktype1_txt) FROM teror WHERE attacktype1_txt LIKE '%bomb%'; -- vybere unikátní typy útoků, které obsahujií slovo bomb (kdekoliv)
SELECT DISTINCT(region_txt) FROM teror WHERE region_txt ILIKE '%cz%'; -- vybere unikátní názvy regionů, které obsahují cz (kdekoliv a v jakékoliv velikosti)
SELECT DISTINCT(gname) FROM teror WHERE gname ILIKE 'a%'; -- vybere unikátní názvy organizací, které začínají na a
SELECT DISTINCT(gname) FROM teror WHERE gname ILIKE '_a%'; -- vybere unikátní názvy organizací, které mají v názvu druhé písmeno a
SELECT city FROM teror WHERE city like '% % %'; -- vybere všechny města, která mají více jak 2 slova

### IN, NOT IN, IS NOT

In [ ]:
%%sql
SELECT city FROM teror WHERE region_txt NOT IN ('South America','South Asia');
SELECT GNAME FROM teror WHERE region_txt IN ('Eastern Europe','Western Europe');
SELECT weaptype1_txt, nkillter FROM teror WHERE nkillter IS NOT NULL ORDER BY nkillter DESC;

### BETWEEN

In [ ]:
%%sql
SELECT DISTINCT(iyear) FROM teror WHERE iyear BETWEEN 2014 AND 2016; -- vybere unikátní roky mezi roky 2014 a 2016 (včetně krajních hodnot)
SELECT city, SUBSTRING(city,0,1) AS prvni_pismeno FROM teror WHERE prvni_pismeno BETWEEN 'A' AND 'C'; -- vybere města, která začínají na A, B nebo C

### SELECT CASE
- CASE STATEMENT
- IFNULL

In [ ]:
%%sql
SELECT CASE
    WHEN nkill IS NULL THEN 1
    WHEN nkill = 0 THEN 1
    ELSE nkill
END AS upraveny_nkill
FROM teror; -- upraví sloupec nkill aby tam nebyl NULL a 0

SELECT CASE
    WHEN region_txt ILIKE '%america%' THEN 'Amerika'
    WHEN region_txt ILIKE '%africa%' THEN 'Afrika'
    WHEN region_txt ILIKE '%asia%' THEN 'Asie'
    ELSE region_txt
END AS continent
FROM teror; -- vytvoříme sloupec kontinent podle regionu

SELECT IFNULL(nkillter,0) FROM teror; -- pro jednu proměnnou

SELECT COALESCE(attacktype1, attacktypeě, attacktypeš) FROM teror; -- pro více proměnných, vrátí první neNULLovou hodnotu

SELECT IFF(nkillter IS NULL, 0, nkillter) FROM teror; -- podobné jako CASE statement, ale povoluje pouze jednu podmínku