In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

user = 'sfadmin'
connection_string = "snowflake://{user}:{password}@aa85077.eu-central-1".format(user='usercd ', password="snflk_pwd")

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

Vypiš všechny teroristické události v zemi, kde bylo spácháno nejvíce terosticých útoků. Vyber sloupečky city, country_txt a nkill. Výsledek seraď podle názvu města

In [ ]:
%%sql
SELECT city, t.country_txt, t2.country_txt, nkill 
FROM teror AS t
JOIN
(
SELECT country_txt, COUNT(country_txt) AS pocet 
FROM teror 
GROUP BY country_txt 
ORDER BY pocet DESC 
LIMIT 1
) AS t2
ON t.country_txt=t2.country_txt
ORDER BY city;
-- varianta s výběrem země přímo
SELECT city, country_txt, nkill 
FROM teror AS t
WHERE country_txt = (SELECT country_txt FROM teror GROUP BY country_txt ORDER BY COUNT(*) DESC LIMIT 1)
ORDER BY city;

Vyber všechny organizace, které nespáchaly útok v evropě. Výsledek seřaď podle názvu organizace vzestupně

In [ ]:
%%sql
-- CTE
WITH evropske as
(SELECT DISTINCT(gname) FROM teror WHERE region_txt ILIKE '%europe%')
SELECT DISTINCT(gname) 
FROM teror 
WHERE gname NOT IN (SELECT gname FROM evropske) 
ORDER BY gname;

-- subselect
SELECT DISTINCT(gname) 
FROM teror
WHERE gname NOT IN (SELECT DISTINCT(gname) FROM teror WHERE region_txt ILIKE '%europe%') 
ORDER BY gname;

-- Proč nejde použít tohle i když to dá stejný výsledek?
SELECT DISTINCT(gname) 
FROM teror 
WHERE region_txt NOT ILIKE '%europe%' 
ORDER by gname;

Co dělá následující select? 
WITH SUCORG AS (SELECT GNAME FROM teror2 WHERE NKILL > 0 GROUP BY GNAME HAVING COUNT(*) > 5), SERAZENO AS(SELECT GNAME, NKILL, IFNULL(NKILL, 0), NWOUND, EVENTDATE, COUNTRY, CITY, ROW_NUMBER() OVER (PARTITION BY GNAME ORDER BY IFNULL(NKILL, 0) DESC) RNFROM teror2 WHERE GNAME IN (SELECT GNAME FROM SUCORG))SELECT S.GNAME, S.NKILL, S.NWOUND, S.EVENTDATE, S.CITY, C.NAME COUNTRYFROM SERAZENO S LEFT JOIN COUNTRY C ON S.COUNTRY = C.IDWHERE S.RN <= 3ORDER BY S.GNAME, NKILL DESC;