In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

user = 'sfadmin'
connection_string = "snowflake://{user}:{password}@aa85077.eu-central-1".format(user='usercd ', password="snflk_pwd")

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

### USE database; USE schema
- UI
- Příkaz

In [ ]:
%%sql
USE DATABASE COURSES;
USE SCHEMA SCH_CZECHITA;
USE SCHEMA <SCH_CZECHITA_PRIJIMENIK>;

### CREATE table
- replace

In [ ]:
%%sql
CREATE TABLE NEW_TEROR (
  ID int,
  gname VARCHAR(250),
  nkill int,
  nwound int
); 

CREATE OR REPLACE TABLE NEW_TEROR (
  id int AUTOINCREMENT NOT NULL UNIQUE,
  gname VARCHAR(250),
  nkill int,
  nwound int,
  CONSTRAINT id_pk PRIMARY KEY (id)
);

### CREATE table as select
- prvotní nalití dat

In [ ]:
%%sql
CREATE TABLE udalosti_jen_v_cesku AS 
SELECT
    gname
   ,city
   ,nkill
   ,nwound
FROM sch_czechita.terorWHERE country_txt = 'Czech Republic';
 
CREATE TEMPORARY TABLE organizace_po_zemich AS 
--docasna tabulka zanikne, kdyz se odhlasime
SELECT 
  gname
  ,city
  ,sum (nkill) killed
  ,sum (nwound) wounded
  ,C.name countryname 
FROM      sch_czechita.teror2 T2 
LEFT JOIN sch_czechita.country C         
ON C.id = T2.country
GROUP BY C.name, T2.gname, T2.city;

### ALTER
- Snowflake to zatím moc neumí
- MODIFY
- Co dělat, když nejdou zkonvertovat data ve sloupci?

In [ ]:
%%sql
ALTER TABLE NEW_TEROR ALTER COLUMN gname VARCHAR(350);
ALTER TABLE NEW_TEROR ALTER COLUMN gname not null;
ALTER TABLE NEW_TEROR ADD Continent varchar(300);
ALTER TABLE NEW_TEROR DROP COLUMN Continent;

### INSERT into from select
- inkrementální updaty

In [ ]:
%%sql
INSERT INTO NEW_TEROR (gname, nkill, nwound)
 --v insertu DYCKY vyjmenovat sloupce, nepouzivat hvezdicku
SELECT gname, nkill, nwound FROM teror
WHERE iyear=2015;

### INSERT values
- bulk aka batch

In [ ]:
%%sql
INSERT INTO NEW_TEROR (gname, nkill, nwound)
VALUES
    ('Žoldáci', 10, 1),
    ('Nosiči smrti', 15, 2),
    ('Nějácí další teroristi', 155, 5);

### UPDATE

In [ ]:
UPDATE NEW_TEROR SET nkill=0 WHERE nkill is NULL;
UPDATE NEW_TEROR SET nkill=0; -- POZOR, bez podminky nastavi vsude 0
UPDATE NEW_TEROR SET nkill = 100, nwound= 100 WHERE gname = 'Žoldáci'; -- lze updatovat i vice sloupcu najednou

### Nešťastný UPDATE a kouzelný SELECT AT

In [ ]:
%%sql

--s trochou odvahy se da tabulka i prepsat...
 create table xx_prycsemnou as 
--v insertu DYCKY vyjmenovat sloupce, nepouzivat hvezdicku
SELECT
    gname
   ,city
   ,sum (nkill) killed
   ,sum (nwound) wounded
FROM TEROR
WHERE iyear=2016
GROUP BY gname, city;
   
update xx_prycsemnou set killed = 0; -- TADY NAM TROCHU CHYBI PODMINKA

select * from xx_prycsemnou at(offset => -35);
-- a je to rozbity

select * from xx_prycsemnou at(offset => -15);
--ale pujde to zachranit

### Import
- Ukázka ve snowflake
- Použijte data.csv

In [ ]:
%%sql
CREATE TABLE gibberish
(  ID number, 
   "FIRST" text(500), 
   "LAST" char(500), 
   Email text, 
   CategoryId int, 
   ShopId int, 
   PeasantId integer, 
   TransactionDate date, 
   VirginityLevel int, 
   PricePerGig text, 
   SegmentText varchar(200), 
   URL varchar(200), 
   BlockChainHash varchar(64)
);

### DELETE

In [ ]:
%%sql
DELETE FROM NEW_TEROR WHERE nkill is NULL;
DELETE FROM NEW_TEROR; -- vymaže pouze data

### DROP
- TABLE
- DATABASE

In [ ]:
%%sql
DROP TABLE NEW_TEROR;
DROP DATABASE <jmeno>;