In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

connection_string = "snowflake://{user}:{snflk_pwd}@gn56074.west-europe.azure".format(user='user', snflk_pwd='snflk_pwd')

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

Vyber z tabulky útoky v Německu, kde zemřel alespoň jeden terorista

In [ ]:
%%sql
SELECT * FROM teror WHERE nkillter > 0 AND country_txt = 'Germany';

Zobraz jen sloupečky GNAME, COUNTRY_TXT, NKILL a všechny řádky (seřazené podle počtu obětí sestupně), na kterých je víc než 340 obětí (počet obětí je ve sloupci NKILL), sloupečky přejmenuj na ORGANIZACE, ZEME, POCET_OBETI

In [ ]:
%%sql
SELECT gname AS ORGANIZACE, country_txt AS zeme, nkill AS POCET_OBETI FROM teror WHERE nkill > 340 ORDER BY POCET_OBETI DESC;

Zobraz sloupečky IYEAR, IMONTH, IDAY, GNAME, CITY, ATTACKTYPE1_TXT, TARGTYPE1_TXT, WEAPTYPE1_TXT, WEAPDETAIL, NKILL, NWOUND a vyber jen útoky, které se staly v Czech Republic v letech 2015, 2016 a 2017. Všechna data seřaď chronologicky sestupně

In [ ]:
%%sql
SELECT iyear, imonth, iday, gname, city, attacktype1_txt, targtype1_txt, weaptype1_txt, weapdetail, nkill, nwound FROM teror WHERE country_txt='Czech Republic' AND IYEAR IN (2015, 2016, 2017) ORDER BY iyear DESC, imonth DESC, iday DESC;

Vypiš všechny organizace, které na jakémkoliv místě v názvu obsahují výraz „anti“ a výraz „extremists“

In [ ]:
%%sql
SELECT DISTINCT gname FROM teror WHERE gname ilike '%anti%' AND gname ilike '%extremists%';

Z iYear, iMonth a iDay vytvořte sloupeček datum a vypište tohle datum a pak datum o tři měsíce později a klidně i o tři dny a tři měsíce

In [ ]:
%%sql
SELECT DATE_FROM_PARTS(iyear, imonth, iday) datum, iyear, imonth, iday, DATEADD(month, 3, DATE_FROM_PARTS(iyear, imonth, iday)) o_tri_mesice_pozdeji, DATEADD(day, 3, DATEADD(month, 3, DATE_FROM_PARTS(iyear, imonth, iday))) o_tri_mesice_a_tri_dny_pozdeji FROM teror;

Vypiš všechny druhy útoků ATTACKTYPE1_TXT

In [ ]:
%%sql
SELECT DISTINCT attacktype1_txt FROM teror;

Vypiš všechny útoky v Německu v roce 2015, vypiš sloupečky IYEAR, IMONTH, IDAY, COUNTRY_TXT, REGION_TXT, PROVSTATE, CITY, NKILL, NKILLTER, NWOUND. Ve sloupečku COUNTRY_TXT bude všude hodnota ‘Německo’

In [ ]:
%%sql
SELECT iyear AS rok, imonth AS mesic, iday AS den, 'Německo' AS COUNTRY_TXT /*naplni sloupecek country_txt nasim textem*/, region_txt, provstate, city, nkill, nkillter, nwound FROM teror WHERE country_txt = 'Germany' AND iyear = 2015;

Kolik událostí se stalo ve třetím a čtvrtém měsíci a počet mrtvých teroristů není NULL?

In [ ]:
%%sql
SELECT COUNT(*) FROM teror WHERE imonth BETWEEN 3 AND 4 AND nkillter IS NOT NULL;
SELECT COUNT(*) FROM teror WHERE imonth IN (3,4) AND nkillter IS NOT NULL;
SELECT COUNT(*) FROM teror WHERE (imonth = 3 OR imonth = 4) AND nkillter IS NOT NULL;

Vypiš první 3 města seřazena abecedně, kde bylo zabito 30 až 100 teroristů nebo zabito 500 až 1000 lidí. Vypiš i sloupečky nkillter a nkill.

In [ ]:
%%sql
SELECT city, nkillter, nkill FROM teror WHERE nkillter BETWEEN 30 AND 100 OR nkill BETWEEN 500 AND 1000 ORDER BY city LIMIT 3;

Vypiš všechny útoky z roku 2014, ke kterým se přihlásil Islámský stát ('Islamic State of Iraq and the Levant (ISIL)'). 
Vypiš sloupečky IYEAR, IMONTH, IDAY, GNAME COUNTRY_TXT, REGION_TXT, PROVSTATE, CITY, NKILL, NKILLTER, NWOUND a na konec přidej sloupeček EventImpact, který bude obsahovat:
- 'Massacre' pro útoky s víc než 1000 obětí
- 'Bloodbath' pro útoky s 501 - 1000 obětmi
- 'Carnage' pro ůtoky s 251 - 500 obětmi
- 'Blodshed' pro útoky se 100 - 250 obětmi
- 'Slaugter' pro útoky s 1 - 100 obětmi
- a ‘N/A’ pro všechny ostatní útoky.

In [ ]:
%%sql
SELECT iyear, imonth, iday, gname, country_txt, region_txt, provstate, city, nkill, nkillter, nwound,
CASE 
  WHEN nkill > 1000 THEN 'Massacre'
  WHEN nkill > 500  THEN 'Bloodbath'
  WHEN nkill > 250  THEN 'Carnage'
  WHEN nkill > 100  THEN 'Blodshed'
  WHEN nkill > 0    THEN 'Slaugter'
  ELSE 'N/A'
END AS EventImpact
FROM teror
WHERE gname = 'Islamic State of Iraq and the Levant (ISIL)' AND iyear = 2014
ORDER BY nkill DESC;

Vypiš všechny útoky s alespoň jednou obětí z Německa, Rakouska, Švýcarska, Francie a Itálie. 
U Německa, Rakouska, Švýcarska nahraď region_txt za ‘DACH’ u zbytku nech původní region. 
Vypiš sloupečky IYEAR, IMONTH, IDAY, COUNTRY_TXT, REGION_TXT, PROVSTATE, CITY, NKILL, NKILLTER, NWOUND. Výstup seřaď podle počtu raněných sestupně.

In [ ]:
%%sql
SELECT iyear, imonth, iday, country_txt, 
CASE
   WHEN country_txt IN ('Germany', 'Austria', 'Switzerland') THEN ' DACH'
   ELSE region_txt
END AS region_txt, provstate, city, nkill, nkillter, nwound
FROM teror 
WHERE nkill > 0 AND COUNTRY_TXT in ('Germany', 'Austria', 'Switzerland', 'France', 'Italy')
ORDER BY NWOUND DESC;

Vypiš COUNTRY_TXT, CITY, NWOUND a přidej sloupeček vzdalenost_od_albertova obsahující vzdálenost místa útoku z pražské části Albertov v km a sloupeček kategorie obsahující ‘Blízko’ pro útoky bližší 2000 km a ‘Daleko’ pro ostatní. 
Vypiš jen útoky s víc než stovkou raněných a seřad je podle vzdálenosti od Albertova

In [ ]:
%%sql
SELECT country_txt, city, nwound,  haversine(50.0688111, 14.4243694, latitude, longitude) vzdalenost_od_albertova,
CASE
   WHEN HAVERSINE(50.0688111, 14.4243694, latitude, longitude) < 2000 THEN 'Blízko'
   ELSE 'Daleko'
END AS Kategorie
FROM teror WHERE nwound > 100
ORDER BY vzdalenost_od_albertova;