In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

user = 'sfadmin'
connection_string = "snowflake://{user}:{password}@aa85077.eu-central-1".format(user='usercd ', password="snflk_pwd")

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

### UNION vs UNION ALL

In [ ]:
%%sql
SELECT w.name,sum(nkill) AS mrtvi,sum( CASE WHEN nhostkid=-99 THEN NULL ELSE nhostkid END) rukojmi, sum(nwound) raneni 
FROM public.teror2 t
JOIN public.weaptype1 w
ON t.weaptype1=w.id
GROUP BY 1
UNION ALL
SELECT w.name,sum(nkill) AS mrtvi,sum( CASE WHEN nhostkid=-99 THEN NULL ELSE nhostkid END) rukojmi,sum(nwound) raneni 
FROM public.teror2 t
JOIN public.weaptype2 w
ON t.weaptype2=w.id
GROUP BY 1;

SELECT w.name 
FROM public.teror2 t
JOIN public.weaptype1 w
ON t.weaptype1=w.id
UNION ALL 
SELECT w.name
FROM public.teror2 t
JOIN public.weaptype2 w
ON t.weaptype2=w.id;

SELECT w.name 
FROM public.teror2 t
JOIN public.weaptype1 w
ON t.weaptype1=w.id
UNION ---- pozor odstrani neduplicity 
SELECT w.name
FROM public.teror2 t
JOIN public.weaptype2 w
ON t.weaptype2=w.id;

### Window funkce

In [ ]:
%%sql
-- Vybere seřazené organizace podle počtu obětí sestupně a přiřadí jim pořadí (rank)
SELECT gname, sum(nkill), RANK() OVER (ORDER BY sum(nkill) DESC) AS rank
FROM teror
WHERE nkill IS NOT NULL
GROUP BY gname
ORDER BY sum(nkill) DESC;

-- Vybere seřazené organizace podle počtu obětí sestupně a přiřadí jim pořadí (rank) v rámci roku.
SELECT gname, iyear, sum(nkill)
,ROW_NUMBER() OVER (ORDER BY sum(nkill) DESC) AS rn
,RANK() OVER (PARTITION BY iyear ORDER BY sum(nkill) DESC)AS rank
FROM teror
WHERE nkill IS NOT NULL
GROUP BY gname, iyear
ORDER BY sum(nkill) DESC;

-- Vybere seřazené organizace podle počtu obětí sestupně a přiřadí jim pořadí (rank) v rámci roku. Nakonec vybereme jen první tři z každého roku.
SELECT * FROM
(SELECT gname, iyear, sum(nkill) as pocet_mrtvych
,ROW_NUMBER() OVER (ORDER BY sum(nkill) DESC) AS rn
,RANK() OVER (PARTITION BY iyear ORDER BY sum(nkill) DESC) AS rank
FROM teror
WHERE nkill IS NOT NULL
GROUP BY gname, iyear
ORDER BY rank, iyear DESC) WHERE rank <= 3;