In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

user = 'sfadmin'
connection_string = "snowflake://{user}:{password}@aa85077.eu-central-1".format(user='usercd ', password="snflk_pwd")

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

### SUM() - součet

In [ ]:
%%sql
SELECT SUM(nkill) AS pocet_mrtvych FROM teror;

### COUNT() - počet

In [ ]:
%%sql
SELECT COUNT(*) AS pocet_zaznamu FROM teror; -- pocet vsech radku  56 354
SELECT COUNT(nkill) AS pocet_zaznamu FROM teror; -- vylouci null hodnoty 53 134
SELECT * FROM teror WHERE nkill IS NULL; -- 3 220 null hodnot

### AVG() - průměr

In [ ]:
%%sql
SELECT AVG(nkill) AS prumerny_pocet_mrtvych FROM teror; -- do prumeru se nepocitaji null hodnoty

### MAX() - maximální hodnota

In [ ]:
%%sql
SELECT MAX(nkill) AS max_pocet_mrtvych FROM teror;
SELECT nkill AS max_pocet_mrtvych FROM teror WHERE nkill IS NOT NULL ORDER BY nkill DESC LIMIT 1; -- stejny vysledek jinou cestou

### MIN() - minimální hodnota

In [ ]:
%%sql
SELECT MIN(nkill) AS min_pocet_mrtvych FROM teror;
SELECT nkill AS min_pocet_mrtvych FROM teror WHERE nkill IS NOT NULL ORDER BY nkill LIMIT 1; -- stejny vysledek jinou cestou

### GROUP BY - vytváření skupin

In [ ]:
¨%%sql
SELECT gname, SUM(nkill) AS pocet_mrtvych FROM teror GROUP BY gname ORDER BY pocet_mrtvych DESC; --- pocet mrtvych podle teroristicke organizace

### HAVING - možnost zapsat podmínky ke skupinám (nalezení duplicitních záznamů)

In [ ]:
%%sql
SELECT gname, SUM(nkill) AS pocet_mrtvych FROM teror GROUP BY gname HAVING SUM(nkill) > 0 ORDER BY pocet_mrtvych DESC; --- pocet mrtvych podle teroristicke organizace kde je pocet obeti vetsi nez nula
SELECT gname, SUM(nkill), SUM(nkillter) FROM teror GROUP BY gname HAVING SUM(nkill) > 0 AND SUM(nkillter) >= 1 ORDER BY SUM(nkill) DESC; --- pocet mrtvych podle teroristicke organizace kde je pocet obeti a pocet mrtvych teroristu vetsi nez nula