In [4]:
#ignore
import numpy as n
import sqlalchemy as sql

%reload_ext sql

In [3]:
#ignore
import os
os.environ["snflk_pwd"] = ""
print (len(os.getenv("snflk_pwd")))

0

In [5]:
#ignore
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

snflk_pwd=os.getenv("snflk_pwd")
connection_string = "snowflake://{user}:{snflk_pwd}@aa85077.eu-central-1".format(user='user', snflk_pwd="snflk_pwd")

%sql $connection_string

In [9]:
#ignore
%sql use database courses;
%sql use warehouse compute_wh;

 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.
 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.

[('Statement executed successfully.',)]

### První select
- klíčová slova
- velikost PíSMen

In [6]:
%%sql
SELECT 1;   -- vybere 1

 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.

[(1,)]

### Kalkulačka?
- Sčítání, odčítání, násobení, všechno funguje, jak má

In [7]:
%%sql
SELECT 25 * 30; -- 750
SELECT 25 * 0;  -- 0
SELECT 25 / 2.5; -- 10.0
SELECT 25/0; -- division by zero

 * snowflake://sfadmin:***@aa85077.eu-central-1
1 rows affected.
1 rows affected.
1 rows affected.
(snowflake.connector.errors.ProgrammingError) 100051 (22012): Division by zero
[SQL: SELECT 25/0; -- division by zero]
(Background on this error at: http://sqlalche.me/e/13/f405)

### Všechny sloupečky a řádky
- Prostě vybereme všechno

In [8]:
%%sql
SELECT * FROM sch_czechita.teror; -- vybere vsechny sloupce a radky z tabulky teror

 * snowflake://sfadmin:***@aa85077.eu-central-1
(snowflake.connector.errors.ProgrammingError) 090105 (22000): Cannot perform SELECT. This session does not have a current database. Call 'USE DATABASE', or use a qualified name.
[SQL: SELECT * FROM sch_czechita.teror; -- vybere vsechny sloupce a radky z tabulky teror]
(Background on this error at: http://sqlalche.me/e/13/f405)

### Omezení výběru sloupečku

In [ ]:
%%sql
SELECT nkillter FROM teror; --vybere pouze sloupec nkillter z tabulky teror

### LIMIT

In [ ]:
%%sql
SELECT * FROM teror LIMIT 10; -- vybere 10 nahodnych radku z tabulky teror

### DISTINCT

In [5]:
%%sql
SELECT DISTICT(country_txt) FROM teror; -- vybere unikatni hodnoty ve sloupci country_txt z tabulky teror

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### COUNT

In [ ]:
%%sql
SELECT COUNT(*) FROM teror; --spocita pocet radku v tabulce teror

### ORDER BY
- DESC
- ASC

In [ ]:
%%sql
SELECT nkillter FROM teror ORDER BY nkillter; -- vypise radky serazene podle sloupce nkillter

### Přejmenování sloupečku
- uvozovky 'vs"

In [ ]:
%%sql
SELECT nkillter AS zabito_teroristu FROM teror; -- prejmenuje sloupecek nkillter na zabito_teroristu
 SELECT nkillter AS "zabito teroristu" FROM teror; -- prejmenuje sloupecek nkillter na zabito teroristu

### Vybrání vlastní hodnoty do sloupečku
- nový sloupeček
- sloupeček existující v tabulce

In [ ]:
%%sql
SELECT 'Indonésie' AS region_txt FROM teror;

### Spojení sloupečků

In [ ]:
%%sql
SELECT city || country_txt FROM teror;
SELECT CONCAT(city,country_txt) FROM teror;

### Násobení sloupečků

In [ ]:
%%sql
SELECT nkill * 3 + nwound FROM teror;

 ### Filtrování řádek

In [ ]:
%%sql
SELECT nkillter FROM teror WHERE nkillter > 100; -- vybere vsechny radky, kde je nkillter vetsi jak 100