In [ ]:
import numpy as n
import sqlalchemy as sql

%reload_ext sql

from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine

user = 'sfadmin'
connection_string = "snowflake://{user}:{password}@aa85077.eu-central-1".format(user='usercd ', password="snflk_pwd")

%sql $connection_string

%sql use database courses;
%sql use warehouse compute_wh;
%sql use schema sch_czechita;

Zjisti počet obětí a raněných po letech a měsících

In [ ]:
%%sql
SELECT iyear, imonth, SUM(nkill) AS killed, SUM(nwound) AS wounded FROM teror GROUP BY iyear, imonth ORDER BY iyear, imonth;

Zjisti počet obětí a raněných v západní Evropě po letech a měsících

In [ ]:
%%sql
SELECT iyear, imonth, SUM(nkill) AS killed, SUM(nwound) AS wounded FROM teror WHERE region_txt = 'Western Europe' GROUP BY iyear, imonth ORDER BY iyear, imonth;

Zjisti počet útoků po zemích. Seřaď je podle počtu útoků sestupně

In [ ]:
%%sql
SELECT country_txt, COUNT(*) FROM teror GROUP BY 1 ORDER BY COUNT(*) DESC;
SELECT country_txt, COUNT(1) FROM teror GROUP BY country_txt ORDER BY COUNT(1) DESC;
SELECT country_txt, COUNT('1') FROM teror GROUP BY country_txt ORDER BY 2 DESC;

Zjisti počet útoků po zemích a letech, seřaď je podle počtu útoků sestupně

In [ ]:
%%sql
SELECT country_txt, iyear, COUNT(*) FROM teror GROUP BY country_txt, iyear ORDER BY COUNT(*) DESC;

!Chyták! 
Kolik která organizace spáchala útoků zápalnými zbraněmi (weaptype1_txt = 'Incendiary').
Kolik při nich celkem zabila obětí. 
Kolik zemřelo teroristů.
Kolik lidí bylo zraněno (nkill, nkillter, nwound).

In [ ]:
%%sql
SELECT gname, COUNT(eventid), SUM(nkill), SUM(nkillter), SUM(nwound) FROM teror WHERE weaptype1_txt = 'Incendiary' GROUP BY gname;

Stejné jako 3e, jen ve výsledném výpisu chceme jen organizace, které zápalnými útoky zranily 50 a více lidí a nechceme tam vidět “organizaci” Unknown

In [ ]:
%%sql
SELECT gname, COUNT(eventid), SUM(nkill), SUM(nkillter), SUM(nwound) FROM teror WHERE weaptype1_txt = 'Incendiary' GROUP BY gname HAVING gname <> 'Unknown' AND sum(nwound) >= 50;

Vypište celkový počet útoků podle druhu zbraně weaptype1_txt , počet mrtvých, mrtvých teroristů, průměrný počet mrtvých, průměrný počet mrtvých teroristů, kolik mrtvých obětí připadá na jednoho mrtvého teroristu a kolik zraněných...

In [ ]:
%%sql
SELECT weaptype1_txt, 
       COUNT(*) AS pocet_utoku, 
       SUM(nkill) AS pocet_obeti, 
       SUM(nkillter) AS pocet_zabitych_teroristu, 
       AVG(nkill) AS prumerne_obeti, 
       AVG(nkillter) AS prumerne_zabitych_teroristu,
       CASE  
         WHEN sum(nkillter) <> 0 THEN sum(nkill) / sum(nkillter)
         ELSE NULL
       END AS pocet_obeti_na_mrtveho_teroristu,
       CASE  
         WHEN sum(nkillter) <> 0 THEN sum(nwound) / sum(nkillter)
         ELSE NULL
       END AS pocet_zranenych_na_mrtveho_teroristu
 FROM teror GROUP BY weaptype1_txt ORDER BY COUNT(*) DESC;